{% extends "layout.html" %}
{% block content %}
<table class="table table-hover table-borderless sticky-header">
            <thead class="thead-dark">
            <tr>
                {% for col in col_names.keys() %}
                    <th class=text-left>{{ col }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record['name'] }}</td>
                    <td><a href="{{ url_for('drivers',driver_id=record['abr']) }}">{{ record['abr'] }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
