{% extends "layout.html" %}
{% block content %}
<h1 id="task-7-web-report-of-monaco-2018-racing">Task 7 - Web report of Monaco 2018 Racing</h1>
<pre><code class="lang-bash">pipenv <span class="hljs-keyword">install</span>
pipenv shell

<span class="hljs-keyword">export</span> FLASK_APP=monaco_table.py
<span class="hljs-keyword">export</span> DATA_PATH=/home/alex/foxminded/task_7/<span class="hljs-keyword">Data</span>
</code></pre>
<p>In this project was added file <code>.env</code> contains that variables. </p>
<p>So everything from the command line should work without manual export.</p>
<p>In the PyCharm may be need add this variables manually to the <code>Settings&gt;Terminal&gt;Environment Variables</code> in the format: </p>
<pre><code class="lang-bash">FLASK_APP=monaco_table.py;DATA_PATH=/home/alex/foxminded/task_7/Data
</code></pre>
<span class="hljs-keyword">For</span> the checking Shell <span class="hljs-keyword">Variables</span> use:
<pre><code class="lang-bash">
printenv <span class="hljs-comment">FLASK_APP</span>
printenv <span class="hljs-comment">DATA_PATH</span>
</code></pre>
<p>After that you can run flask app:</p>
<pre><code class="lang-bash">flask <span class="hljs-keyword">run</span><span class="bash"></span>
</code></pre>
{% endblock %}