{% extends "layout.html" %}
{% block content %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            {% for col in col_names.keys() %}
                <th class=text-left>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr {{ 'class=table-secondary' if (record['pos'] | int) > 15 else '' }}>
                {% for col in col_names.values() %}
                    <td>{{ record[col] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}